<footer class="footer">
  <div class="width-container">
    <div class="footer-content">
      <span>NYC Category Theory Reading Club</span>
      <span>&middot;</span>
      <a class="footer-link" href="{{ .Site.Params.meetupURL }}" target="_blank" rel="noopener">Meetup</a>
      <a class="footer-link" href="{{ .Site.Params.discordURL }}" target="_blank" rel="noopener">Discord</a>
      <a class="footer-link" href="{{ .Site.Params.personalSiteURL }}" target="_blank" rel="noopener">kirancodes.me</a>
    </div>
  </div>
</footer>
